AddDefaultCharset UTF-8
AddType text/x-web-markdown text
RewriteEngine on
RewriteCond %{REQUEST_URI} !(content\/)
RewriteRule ^(.*\.text)$ content/$1 [L]
RewriteCond %{REQUEST_URI} !(^.*view.php.*$)|(^.*\/assets\/.*$)|(^.*\.text$)
RewriteRule ^(.*)$ view.php?p=$1 [L]
