/* mobile styles for my pretty notepad */

@media only screen and (max-width: 600px) {
	nav {
		position: absolute;
		padding-left: 1em;
		padding-right: 1em;
	}
	nav a.about {
		margin-right: 2em;
	}

	nav a {
		font-size: 1em;
	}

	#content {
		width: 98%;
		padding: 2em 0 3em 0;
	}

	nav,
	footer,
	#dir-index {
		font-size: 1em; /* so that links are easily clicked on a touchscreen */
	}

	nav aside {
		display: none;
	}
}
